<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IWebSocketsServer">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport>
                        <webSocketSettings transportUsage="Always" subProtocol="soap" />
                    </httpTransport>
                </binding>
            </customBinding>
            <netHttpBinding>
                <binding name="NetHttpBinding_IWebSocketsServer" messageEncoding="Binary">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://100.10.1.91:8733/custom" binding="customBinding"
                bindingConfiguration="CustomBinding_IWebSocketsServer" contract="SVCPersonInfo.IWebSocketsServer"
                name="CustomBinding_IWebSocketsServer" />
            <endpoint address="ws://100.10.1.91:8733/netHttp" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IWebSocketsServer" contract="SVCPersonInfo.IWebSocketsServer"
                name="NetHttpBinding_IWebSocketsServer" />
        </client>
    </system.serviceModel>
</configuration>