<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services >
      <service behaviorConfiguration="Configuration" name="WCFService.Service">
        <endpoint address="" behaviorConfiguration="GetPostEndBehaviors" binding="webHttpBinding" bindingConfiguration="ServiceBinding" contract="WCFService.ICommonRequest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="http://100.10.1.91:7888" binding="customBinding" bindingConfiguration="customBinding"  contract="WCFService.IWebSocketsServer"/>
        <endpoint address="/netHttp" binding="netHttpBinding" bindingConfiguration="netHttpBinding" contract="WCFService.IWebSocketsServer"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://100.10.1.91:8733/dp/" />
          </baseAddresses>
        </host>        
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GetPostEndBehaviors">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Configuration">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="ServiceBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"  transferMode="Streamed" maxReceivedMessageSize="2147483647"  >
          <readerQuotas maxStringContentLength="2147483647"  />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding name="customBinding">
          <byteStreamMessageEncoding></byteStreamMessageEncoding>
          <!--<webMessageEncoding></webMessageEncoding>-->
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
      <netHttpBinding>
        <binding name="netHttpBinding">
          <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
        </binding>
      </netHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>